<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="index.css" />

</head>

<body>

    <header>
        <h1 id="header">Registrer new user</h1>
    </header>

    <button class="button" onclick="toAdminPage()">Admin Page</button>

    <form onsubmit=addUser(event)>
        <h3>User name</h3>
        <input type="text" id="username">
        
        <h3>E-Mail</h3>
        <input type="text" id="email">
        
        <h3>Password</h3>
        <input type="password" id="password">
        <br>
        <input type="submit" id="submit" value="Registrer">
      </form> 

      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <h3 id="modal">Modal</h3>
        </div>
      
      </div>

     

 <script type=text/javascript src="index.js"></script>

</body>

</html>